@(message: String)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>title</title>
  <link href="@routes.Assets.at("img/favicon.png")" rel="shortcut icon" type="image/png">
  <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link href="@routes.Assets.at("css/bootstrap-responsive.css")" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">$name$</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="@@documentation/Home">Play 2.0.4</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container">
    <h1>@message</h1>
    Have you changed application.secret ?
  </div>
  <script src="@routes.Assets.at("js/jquery-1.9.0.min.js")"></script>
  <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
</body>
</html>